{% extends "base.html" %}
{% block title %}Here you can see information about news providers{% endblock %}

{% block content %}
<body>
            <tr>
                <form method="get" action="">
                        {% if tasks != None  %}
                            <td>{{tasks.title['extract']}}</td>
                        {% else %}
                        {% for i in f %}
                            <td>Sorry for the inconvenience, wikipedia does not have info about this source .However you can look for in this link:<a href={{i}}>{{i}}</a></td>
                        {% endfor %}
                        {% endif %}

                </form>
            </tr>
</body>

{% endblock %}
