{% extends "base.html" %}
{% block title %}Here you can see information about news providers{% endblock %}

{% block content %}
<body>
            <tr>
                <form method="get" action="">
                        {% if tasks != None  %}
                            <td>{{tasks.title['extract']}}</td>
                        {% else %}
                            <td>No description for this source in Wikipedia!</td>
                        {% endif %}

                </form>
            </tr>
</body>

{% endblock %}
